
.recent_wrap {
    position: absolute;
    width: 350px;
    height: 300px;
    background-color:#fff;
    top: 50px;
    left: 456px;
    border-radius: 5px;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.11), 0px 5px 5px 1px rgba(0, 0, 0, 0.11);
    overflow-y: auto;
    z-index: 1;
}
.box::after {
    content: '';
    position: relative;
    border-width: 50px 50px;
    border: 12px solid;
    border-color: transparent transparent #ffffff transparent;
    z-index: 1;
    top: 8px;
    right: 136px;
    box-shadow: 0 10px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
}
.recent_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recent_text {
    padding: 10px 0px 10px 10px;
    font-weight: 500;
}
.recent_text_clear {
    padding-right: 10px;
    color: #0095f6;
    font-weight: 500;
    font-size: 16px;
}
.clear_all_btn {
    border: none;
    background-color:#fff;
    cursor: pointer;
}
.list_recent_container {
    margin: 20px 0px 10px 0px;
    opacity: 0.8;
    
    
}
.list_recent_container:hover {
    background-color: rgb(248, 247, 247);
    
}
.recent_link {
    text-decoration: none;
    color: #000
    
}

.recent_list_item {
    display: flex;
    list-style: none;
    align-items: center;
    
}
.recent_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
   
}
.recent_name_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.recent_name_container h6 {
    margin-left: 10px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}
.recent_delete {
    position: relative;
    font-size: 25px;
    opacity: 0.8;
    padding-right: 10px;
    
   
    /* top: 5px;
    left: 5px; */
}